/* Tło całej strony logowania */
body.login-page {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #7b2cbf; /* Czysty fioletowy kolor */
    /* Możesz też użyć gradientu dla lepszego efektu: */
    background: linear-gradient(135deg, #5a189a 0%, #7b2cbf 100%);
    font-family: 'Poppins', sans-serif;
}

/* Biała karta logowania na środku */
.glass-card {
    background: #ffffff;
    width: 360px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    text-align: center;
}

.logo {
    color: #5a189a;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
}

.welcome-text {
    color: #9d4edd;
    margin-bottom: 30px;
    font-size: 14px;
}

/* Fioletowe obramowania pól */
.purple-input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 2px solid #e0aaff;
    border-radius: 12px;
    outline: none;
    transition: 0.3s;
}

.purple-input:focus {
    border-color: #7b2cbf;
}

/* Przycisk logowania */
.btn-primary {
    width: 100%;
    padding: 14px;
    background: #7b2cbf;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #5a189a;
    transform: translateY(-2px);
}

.hidden { display: none; }
